# Ignore all
*


# Unignore all with extensions
!*.*
!/.gitignore

# Ignore all with extension .o
*.o

# Rules for dirs
# Unignore dirs
!*/
# Ignore all files in dir
*/*
# Unignore all with extensions on dir
!*/*.*
# Ignore all with extension .o
*/*.o

# Unignore License
!/LICENSE
